$lightblue: #4287f5;
$darkerblue: #003fa3;


.navbar{
	background-color: $lightblue;
	color: white;
	font-size:20px;
	border-bottom: 5px solid $darkerblue;
}

.nav-link {
	color: white;
}

.nav-link:hover{
	color: $darkerblue;
}

#siteName{
	font-size: 25px;
	text-shadow: 2px 2px $darkerblue;
	font-weight: bold;
}
