{% extends "network/layout.html" %}

{% block body %}
    <div class="background-color profile-border p-3 neutral-color">
        {% if message %}
            <h2 class="text-center light-accent"> Post edited successfully! </h2>
        {% endif %}

        <h2>Edit Post</h2>

        {% if message %}
            <div>{{ message }}</div>
        {% endif %}

        <form action="{% url 'edit' post_id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="content" class="w-100" style="height: 10em">{{content}}</textarea>
            </div>
            <input class="btn follow-button" type="submit" value="Submit Edit">
        </form>
    </div>
{% endblock %}