{% extends "network/layout.html" %}

{% block body %}
    <div class="row neutral-color">
    	<div class="col-3">
			<div class="card profile-border background-color neutral-color">
				<div class="card-body text-center">
					<h3 class="card-title text-center light-accent"> Following </h3>
					<hr class="dark-accent">
					{% for user in following %}
						<a href="{% url 'profile' user.username %}" style="font-size: 18px" class="neutral-link"> {{user.username}} </a>
					{% endfor %}
				</div>
			</div>
    	</div>
    	<div class="col-9">
			<div class="card profile-border background-color neutral-color">
				<div class="card-body">
					<h3 class="card-title text-center light-accent"> Posts </h3>
				</div>
			</div>
    	</div>
    </div>
{% endblock %}