$mainbackground: #222629;
$secondbackground: #474B4F;
$lightbackground: #6B6E70;
$darkaccent: #61892F;
$lightaccent: #86C232;


body {
	background-color: $secondbackground;
	color: white;
}

/* Navbar styling */
.navbar {
	background-color: $mainbackground;
	color: white;
	font-size: 24px;
	border-bottom: 5px solid $darkaccent;
}

.navbar-nav > li { /* Spacing between navbar items */
	padding-left: 8px;
}

.navbar-brand, .nav-link {
	color: white;
}

.active {
    background-color: $darkaccent;
    border-radius: 25px;
}

#myname {
	font-weight: bold;
}

#mypic {
	width: 225px;
	border: 6px solid $darkaccent;
}
/* --------------- */

.exercise-border{
	border: 1px solid;
  	border-color: $lightaccent;
}

.under-border{
	border-bottom: 1px solid;
	border-color: $lightbackground;
}