$mainbackground: #222629;
$secondbackground: #474B4F;
$lightbackground: #6B6E70;
$darkaccent: #61892F;
$lightaccent: #86C232;


body{
	background-color: $secondbackground;
	color: white;
	padding-bottom: 80px;
}

.home{
	background-color: $lightbackground;
	color: white;
}


#home-pic{
	border: 28px solid $secondbackground;
}

.footer{
	color: white;
	background-color: $mainbackground;
	border-top: 2px solid $darkaccent;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

/* Navbar styling */
.navbar {
	background-color: $mainbackground;
	color: white;
	font-size: 24px;
	border-bottom: 5px solid $darkaccent;
}

.navbar-nav > li { /* Spacing between navbar items */
	padding-left: 8px;
}

.navbar-brand, .nav-link { /* Navitem white color */
	color: white;
}

.nav-link:hover{
	color: $lightaccent;
}

.active { /* Active pill on navitems */
    background-color: $darkaccent;
    border-radius: 25px;
}

#myname {
	font-weight: bold;
}

#mypic {
	width: 225px;
	border: 5px solid $darkaccent;
}

/* --------------- */

.exercise-border{
	border: 1px solid;
  	border-color: $lightaccent;
}

.under-border-primary{
	border-bottom: 2.5px solid;
	border-color: $lightaccent;
}

.under-border-secondary{
	border-bottom: 1.5px solid;
	border-color: $lightaccent;
}

.btn-accent{
	background-color: $lightaccent;
}

.lightaccent {
	color: $lightaccent;
}



/* This stuff is all for the Skills & Projects page, skills.html */
.skills-background{
	background-color: $lightbackground;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.skills-font{
	font-size: 20px;
	color: white;
}

.fa-circle{
	font-size: 20px;
}

.filled-circle{
	color: $lightaccent;
}