{% extends "navbar.html" %}


{% block head %}
	<title> Book Review Site </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/home.css')}}">
{% endblock head %}



{% block body %}
	<div class="text-center mt-5">
		<h1> Welcome to the Book Review Site </h1>
		<h3 class="text-muted"> Made for CS50Web Project 1 (2018) </h3>
		<div class="home-body mt-5">
			<p> Welcome to the site. Create an account to leave reviews, or feel free to just browse the book reviews in our database. </p>
			<p> This site is made with minimal front end design as the project was mostly focused
				on learning <span class="accent"> Flask </span>, using<span class="accent"> APIs </span> and using a <span class="accent"> PostgreSQL
				database</span>. </p>
		</div>
	</div>
{% endblock body %}