{% extends "navbar.html" %}


{% block head %}
	<title> {{book.title}} - Book Review Site </title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/book.css')}}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/login.css')}}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% endblock head %}

{% block body %}
	<div class="text-center book-body mb-5">
		<div class="row mb-2">
			<div class="col-1"></div>
			<div class="col-6 mt-3">
				<h1> {{book.title}} </h1>
				<h3 class="text-muted"> By {{book.author}} </h3>
			</div>
			<div class="col-5 text-left book-info">
				<p><span style="font-weight: bold"> Published:</span> {{book.year}} </p> <hr>
				<p><span style="font-weight: bold">ISBN:</span> {{book.isbn}} </p> <hr>
				<p><span style="font-weight: bold">Book Review Site ID: </span>{{book.id}} </p>
			</div>
		</div>
		<hr class="mx-4">
		<div class="text-left mx-4 mt-3 book-ratings">
			<h3 style="font-weight: bold" class="text-center"> Reviews and Ratings </h3>
			<div class="text-center mt-3">
				<div class="row">
					<div class="col-6">
						{% if has_ratings %}
							<p><span style="font-weight: bold"> Book Review Site Rating: </span> {{average_rating}}/5.00 </p>
							<p><span style="font-weight: bold"> Number of Ratings:</span> {{count_rating}} </p> 
						{% else %}
							<p> This book has no ratings yet! </p>
						{% endif %}
					</div>
					<div class="col-6">
						{% if success %}
							<p><span style="font-weight: bold"> Goodreads Review Average: </span> {{ goodreads["books"][0]["average_rating"] }}/5.00 </p>
							<p><span style="font-weight: bold"> Number of Ratings:</span> {{goodreads["books"][0]["ratings_count"]}} </p> 
						{% else %}
							<p> This book has no Goodreads reviews found. </p>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="mt-5 review-body">
				{% if review_list %}
					{% for review in review_list %}
						<div class="card">
							<div class="card-body">
								<h5 class="card-title card-header"> Review by user {{review.username}} on {{review.posting_date}} </h5>
								<p class="mt-4 review-text"> {{review.review_text}} </p>
							</div>
						</div>
					{% endfor %}
				{% else %}
					<p> There are currently no reviews for this book. </p>
				{% endif %}
			</div>

			{% if session["logged_in"] %}
	      		<div class="my-5">
					<div class="login-box text-center mt-5 w-75 mx-auto py-2">
						<h2> Leave a Review </h1>
						<hr class="seperation-line w-100">
						<form action="{{ url_for('book_review', isbn=book.isbn) }}" method="post">
							<div class="form-group text-left mx-2" stlye="width: 90%; display: block">
								<textarea type="text" class="form-control" style="height: 150px" name="review_text" ></textarea>
							</div>
					        <div class="rating my-4">
					            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
					            <label for="star5">☆</label>
					            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
					            <label for="star4">☆</label>
					            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
					            <label for="star3">☆</label>
					            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" />
					            <label for="star2">☆</label>
					            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
					            <label for="star1">☆</label>
					            <div class="clear"></div>
					        </div>
							<button type="submit" class="btn-blue lead">Submit</button>
						<form> 
					</div>
				</div>
	      	{% else %}
	      		<div class="text-center mx-auto my-5">
	      			<a class="text-center" href="{{url_for('login')}}"> Log in </a> to leave a review.
	      		</div>
	      	{% endif %}
		</div>
	</div>
{% endblock body %}